:root {
  --accent-color: #2196F3;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --icons-color: #AFB1B8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--index-background-color);
  color: var(--primary-text-color);
}

a :active,
a {
  text-decoration: none;
  color: var(--secondary-title-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__web {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.current {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  -webkit-transition: background-color var(--transition-timing-function) opacity 250ms, visibility 250ms;
  transition: background-color var(--transition-timing-function) opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.5) rotate(180deg);
          transform: scale(0.5) rotate(180deg);
}

.modal {
  width: 95%;
  height: 609px;
  background-color: var(--primary-white-color);
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-icon {
  fill: #000000;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-icon:hover, .modal-icon:focus {
  fill: var(--accent-color);
}

.modal-close-btn:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-close-btn:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.2;
  }
}

.modal-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

@media screen and (min-width: 480px) {
  .modal-label {
    font-size: 12px;
  }
}

.modal-label-wrap {
  position: relative;
}

.modal-icon-contacts {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-input:focus + .modal-icon-contacts {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 35px;
  fill: #ffffff;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-area:focus {
  border-color: var(--accent-color);
}

.modal-field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .check-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.input-checkbox:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.agreement-conditions {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-field-checkbox {
  margin-bottom: 30px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  border: 1px solid #ECECEC;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 84px;
}

.menu-list__item,
.menu-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-list {
  display: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-list :hover,
.menu-list :focus {
  color: var(--accent-color);
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-list__link.current {
  position: relative;
}

.menu-list__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.connect-list {
  display: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .connect-list {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-list {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.connect-list :hover,
.connect-list :focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .connect-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.connect-list__mail,
.connect-list__tel {
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #ffffff;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.connect-list__icon {
  fill: var(--primary-text-color);
  text-align: center;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .connect-list__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-list__icon {
    margin-right: 10px;
  }
}

.connect-list__mail:hover .connect-list__icon, .connect-list__mail:focus .connect-list__icon {
  fill: var(--accent-color);
}

.connect-list__tel:hover .connect-list__icon, .connect-list__tel:focus .connect-list__icon {
  fill: var(--accent-color);
}

.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-duration);
  transition: fill var(--transition-duration) var(--transition-duration);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-duration);
  transition: fill var(--transition-duration) var(--transition-duration);
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.mob-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 48px 40px;
}

.mob-menu-top {
  width: 100%;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .mob-menu-list__link {
    font-size: 40px;
  }
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.mob-menu-list__link.current {
  color: var(--accent-color);
}

.mob-connect-list {
  margin-bottom: 64px;
}

.mob-connect-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect-list__mail {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .mob-connect-list__mail {
    font-size: 24px;
  }
}

.mob-connect-list__tel {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mob-connect-list__tel {
    font-size: 34px;
  }
}

.mob-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-soc-list__item {
  position: relative;
}

.mob-soc-list__item:not(:last-child) {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-soc-list__link, .mob-soc-list__linked {
  display: block;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mob-soc-list__link, .mob-soc-list__linked {
    font-size: 18px;
  }
}

.mob-soc-list__link {
  margin-right: 10px;
}

.no-scroll {
  overflow: hidden;
}

.hero .container {
  text-align: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/hero-img2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/hero-img768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/hero-img768x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img768x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/hero-1200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/hero-1200x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-1200x2.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 690px;
  }
}

.hero__btn {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-white-color);
  cursor: pointer;
  margin: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 768px) {
  .about-icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .about-icons-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-icons-list__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.about-icons-list__link {
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-icons-list__link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about-icons-list__link {
    width: 270px;
  }
}

.about-icons-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.about-item__title {
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.about-item__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .about-item__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about-item__text {
    max-width: 270px;
  }
}

.picture {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .picture {
    display: block;
  }
}

.picture-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture-item:not(:last-child) {
  margin-right: 30px;
}

.picture-description {
  position: relative;
}

.picture-text {
  bottom: 0;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.team {
  background-color: #F5F4FA;
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

.team-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-tamb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-icons-item:not(:last-child) {
  margin-right: 10px;
}

.team-icons-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-icons-link:hover, .team-icons-link:focus {
  background-color: var(--accent-color);
}

.team-icons {
  fill: var(--icons-color);
  -webkit-transition: fill var(--secondary-title-color) var(--transition-timing-function);
  transition: fill var(--secondary-title-color) var(--transition-timing-function);
}

.team-icons-link:hover .team-icons, .team-icons-link:focus .team-icons {
  fill: var(--primary-white-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc(100% / 6 - 30px);
  }
}

.clients-link {
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icons-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer .container {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-item {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item:hover, .footer-item:focus {
  color: var(--accent-color);
}

.container-contacts {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container-contacts {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
}

.footer-street {
  white-space: nowrap;
}

.footer-invite {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-invite {
    margin-right: 93px;
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-sub {
    width: 100%;
  }
}

.footer-icons-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-icons-title {
    text-align: left;
  }
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icons-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-icons-link:hover,
.footer-icons-link .footer-item:focus {
  background-color: var(--accent-color);
}

.footer-icons-link:focus,
.footer-icons-link .footer-item:focus {
  background-color: var(--accent-color);
}

.footer-icons {
  fill: var(--primary-white-color);
}

.footer-adress {
  font-style: normal;
}

.footer-street {
  font-weight: 400;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.footer-invite-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-invite-title {
    text-align: start;
  }
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .footer-wrap {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  color: var(--primary-white-color);
  border-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  resize: none;
  margin-right: 12px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-bottom: -20px;
  }
}

.footer-telegram {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}

.footer-telegram-link {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.telegram {
  fill: var(--primary-white-color);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.menu-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #F5F4FA;
  color: var(--secondary-title-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.menu-btn:hover, .menu-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.menu-btn.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.menu-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 480px) {
  .menu-btn-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-btn-item {
  margin-bottom: 15px;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.menu-btn-item:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn-item:not(:last-child) {
  margin-right: 8px;
}

.menu-btn-item-mobile:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) {
  .portfolio-list {
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-item:hover, .portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potfolio-wrap {
  position: relative;
  overflow: hidden;
}

.porfolio-bot-text {
  top: 0;
  position: absolute;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-item:hover .porfolio-bot-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-description {
  padding: 24px 20px;
}
/*# sourceMappingURL=main.css.map */