.header {
    border: 1px solid #ECECEC;

}
.header .container {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.header__logo { 
    @include tablet {
        margin-right: 80px;
    }
    @include desktop {
    margin-right: 93px;
    }
    
}

.navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-right: 84px;
}





.menu-list__item,
.menu-list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.menu-list { 
        display: none;
    @include tablet {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    }
    transition: color var(--transition-duration) var(--transition-timing-function);
    & :hover,
    & :focus {
            color: var(--accent-color)
        }

}

.menu-list__item:not(:last-child) {
    margin-right: 50px;
}

.menu-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-list__link.current {
    position: relative;
&::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2px;
    }

}


// .header__connect { 
//     text-align: center;
// }



.connect-list {
        display: none;
    @include tablet {
        display: block;
        font-size: 12px;
        line-height: 1.16;
        padding-top: 21px;
            padding-bottom: 21px;
    }
    @include desktop {
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        list-style: none;
        align-items: center;
        padding-top: 32px;
            padding-bottom: 32px;
    }
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);
    & :hover,
        & :focus {
            color: var(--accent-color)
        }
}


.connect-list__item:not(:last-child) {
    @include tablet {
        margin-bottom: 10px;
    }
    @include desktop {
        margin-right: 50px;
        margin-bottom: 0;
        }
    }
    

.connect-list__mail,
.connect-list__tel {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    fill: #ffffff;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}



.connect-list__icon {
    fill: var(--primary-text-color);
    @include tablet {
        margin-right: 8px;
    }
    @include desktop {
        margin-right: 10px;
    }
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .connect-list__mail:hover & , .connect-list__mail:focus & {
            fill: var(--accent-color)
        }
    
        .connect-list__tel:hover &, .connect-list__tel:focus & {
            fill: var(--accent-color)
        }
}
.menu-open-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--accent-color);
        transition: fill var(--transition-duration) var(--transition-duration);
    }
    @include tablet {
        display: none;
    }
}
.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--accent-color);
        transition: fill var(--transition-duration) var(--transition-duration);
    }
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    transition: var(--transition-duration) var(--transition-timing-function);
        .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        padding: 48px 40px;
        
    }
}

.mob-menu-top{
    width: 100%;
}
.mob-menu-list {
    // margin-bottom: 302px;
}

.mob-menu-list__item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu-list__link {
    @include mobile {
        font-size: 40px;
    }
    font-weight: 500;
    font-size: 34px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    &:hover, &:focus {
        color: var(--accent-color);
    }
} 

.mob-menu-list__link.current {
    color: var(--accent-color);
}

.mob-connect-list {
    margin-bottom: 64px;
}
.mob-connect-list__item:not(:last-child){
    margin-bottom: 32px;
    
}

.mob-connect-list__mail {
    @include mobile{
        font-size: 24px;
    }
    font-weight: 500;
    font-size: 17px;
    line-height: 1.16;
    letter-spacing: 0.02em;
        color: var(--primary-text-color);
}


.mob-connect-list__tel {
    @include mobile {
    font-size: 34px;
    }
    font-weight: 500;
        font-size: 27px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}


.mob-soc-list {
    display: flex;

}
.mob-soc-list__item {
    position: relative;
}


.mob-soc-list__item:not(:last-child) {
    border-right: 2px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
}


.mob-soc-list__link, .mob-soc-list__linked {
        display: block;
        font-weight: 500;
        font-size: 11px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);
                @include mobile {
                    font-size: 18px;
                }
}

.mob-soc-list__link {
    margin-right: 10px;
}
.no-scroll {
    overflow: hidden;
}