.team {
    background-color: #F5F4FA;
    
}

.team-list {
    margin-bottom: -30px;
    @include tablet {
    display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-left: -30px;
    }
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
    margin-bottom: 30px;
    @include tablet {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        }
     @include desktop {
              width: calc(100% / 4 - 30px);
              margin-left: 30px;
}
}


.team-tamb {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.team-icons-list {
    display: flex;
    border-radius: 0px 0px 4px 4px;
    justify-content: center;

}


.team-icons-item:not(:last-child) {
    margin-right: 10px;
}

.team-icons-link {
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover, &:focus {
            background-color: var(--accent-color);
        }
}

.team-icons {

    fill: var(--icons-color);
    transition: fill var(--secondary-title-color) var(--transition-timing-function);
    .team-icons-link:hover &, .team-icons-link:focus &{
            fill: var(--primary-white-color);
        }
}



