.logo {
    font-family: 'Raleway';
    @include tablet{
        font-size: 24px;
        line-height: 1.16;
    }
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo__web {
    color: var(--accent-color)
}