:root {
    --accent-color: #2196F3;
    --secondary-title-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --icons-color: #AFB1B8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}